{% extends "view_tables.html" %}
{% block content %}
<h1>Client Table:</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>SSN</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address ID</th>
    </tr>
    {% for client in client_table %}
    <tr>
        <td>{{client.client_id}}</td>
        <td>{{client.ssn}}</th>
        <td>{{client.first_name}}</th>
        <td>{{client.last_name}}</td>
        <td>{{client.email}}</th>
        <td>{{client.address_id }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}